
.userDiv{
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.userDiv img{

height: 300px;
width:300px;
border-radius: 150px;
    
}
.userDiv h2{
   text-transform: capitalize; 
   color: #6E83B7;
   font-family: 'Poppins', sans-serif;
   text-decoration:underline;
}
@media all and (max-width:560px){
    .userDiv{
        display: block;
        align-items: center;
    }
}